{% extends "allauth/layouts/base.html" %}
{% load static %}

{% block extra_head %}
    {{ block.super }}
    <style>
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 20px;
        }
        form {
            margin-bottom: 200px;
        }
    </style>
{% endblock extra_head %}

{% block content %}
    {{ block.super }}
{% endblock %}
